body {
    background-color: #add8e6 
}
@font-face 
    {
        font-family: 'Akshar';
        src: url('css/Akshar-Regular.ttf') format('truetype');
    } 
    *
    {
        font-family:'Akshar';
    }